<!-- <div class="size">
<ng-container  *ngFor="let persona of personas ; index as i" >
<mat-card (click)="navigate(i)" class="example-card" appBorde>
  <mat-card-header>
    <div style.background-image="url({{persona.foto}})" mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{persona.nombre }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{persona.foto}} alt="{{persona.nombre }}">
  <mat-card-content>
    <p> 
        {{persona.texto }}
    </p>
  </mat-card-content>
  <mat-card-actions>
   <app-actions (elClick)='($event)'></app-actions>
    </mat-card-actions>
  </mat-card>
  </ng-container>
</div> -->
<div class="size">
  <ng-container  *ngFor="let photo of photosLocal" >
  <mat-card (click)="navigate(i)" class="example-card" appBorde>
    <mat-card-header>
      <div style.background-image="url({{photo.thumbnailUrl}})" mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{photo.id }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{photo.url}} alt="{{photo.id }}">
    <mat-card-content>
      <p> 
          {{photo.title }}
      </p>
    </mat-card-content>
    <mat-card-actions>
     <app-actions (elClick)='($event)'></app-actions>
      </mat-card-actions>
    </mat-card>
    </ng-container>
  </div>
  





